@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #150120;
  --dark-purple: #220233;
  --medium-purple: #360a55;
  --primary: #892CDC;
  --primary-light: #BC6FF1;
  --text: #FFFFFF;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

h1 {
  margin-block-start: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #150120;
    --dark-purple: #220233;
    --primary: #892CDC;
    --primary-light: #BC6FF1;
    --text: #FFFFFF;
  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-cascadia-mono);
  line-height: 1.25rem;
}

p {
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.nav-link {
  position: relative;
  font-size: 1.15rem;
  padding: 0.5rem;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 50%;
  background-color: var(--primary);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-link:hover::after {
  width: 100%;
}

.button-primary-light {
  background-color: var(--primary-light);
  color: var(--text);
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-primary-light:hover {
  background-color: var(--primary);
}

.section-title {
  position: relative;
  color: var(--text);
  display: inline-block;
}

.section-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1rem;
  width: 100%;
  height: 8px;
  background-color: var(--primary-light);
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-up {
  animation: slideUp 0.5s ease-out forwards;
}

.delay-100 {
  animation-delay: 100ms;
}

.delay-200 {
  animation-delay: 200ms;
}

.delay-300 {
  animation-delay: 300ms;
}